<?xml version="1.0" encoding="UTF-8"?>
<web-app version="3.1" xmlns="http://xmlns.jcp.org/xml/ns/javaee" xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance" xsi:schemaLocation="http://xmlns.jcp.org/xml/ns/javaee http://xmlns.jcp.org/xml/ns/javaee/web-app_3_1.xsd">
    <servlet>
        <servlet-name>Login</servlet-name>
        <servlet-class>servlet.ServletLogin</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>ServletLogout</servlet-name>
        <servlet-class>servlet.ServletLogout</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>InsertIngredient</servlet-name>
        <servlet-class>servlet.InsertIngredient</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>InsertPlat</servlet-name>
        <servlet-class>servlet.InsertPlat</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>ListAllMenu</servlet-name>
        <servlet-class>servlet.ListAllMenu</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>ListMenuByCategorie</servlet-name>
        <servlet-class>servlet.ListMenuByCategorie</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>InsertCommande</servlet-name>
        <servlet-class>servlet.InsertCommande</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>InsertUtilisateur</servlet-name>
        <servlet-class>servlet.InsertUtilisateur</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>InsertTable</servlet-name>
        <servlet-class>servlet.InsertTable</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>DeleteTable</servlet-name>
        <servlet-class>servlet.DeleteTable</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>InsertStock</servlet-name>
        <servlet-class>servlet.InsertStock</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>ListStock</servlet-name>
        <servlet-class>servlet.ListStock</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>ListStockWithDate</servlet-name>
        <servlet-class>servlet.ListStockWithDate</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>Stock_toExcel</servlet-name>
        <servlet-class>servlet.Stock_toExcel</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>ValideCommande</servlet-name>
        <servlet-class>servlet.ValideCommande</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>DeleteCommande</servlet-name>
        <servlet-class>servlet.DeleteCommande</servlet-class>
    </servlet>
    <servlet-mapping>
        <servlet-name>Login</servlet-name>
        <url-pattern>/Login</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>ServletLogout</servlet-name>
        <url-pattern>/ServletLogout</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>InsertIngredient</servlet-name>
        <url-pattern>/InsertIngredient</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>InsertPlat</servlet-name>
        <url-pattern>/InsertPlat</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>ListAllMenu</servlet-name>
        <url-pattern>/ListAllMenu</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>ListMenuByCategorie</servlet-name>
        <url-pattern>/ListMenuByCategorie</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>InsertCommande</servlet-name>
        <url-pattern>/InsertCommande</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>InsertUtilisateur</servlet-name>
        <url-pattern>/InsertUtilisateur</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>InsertTable</servlet-name>
        <url-pattern>/InsertTable</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>DeleteTable</servlet-name>
        <url-pattern>/DeleteTable</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>InsertStock</servlet-name>
        <url-pattern>/InsertStock</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>ListStock</servlet-name>
        <url-pattern>/ListStock</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>ListStockWithDate</servlet-name>
        <url-pattern>/ListStockWithDate</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>Stock_toExcel</servlet-name>
        <url-pattern>/Stock_toExcel</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>ValideCommande</servlet-name>
        <url-pattern>/ValideCommande</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>DeleteCommande</servlet-name>
        <url-pattern>/DeleteCommande</url-pattern>
    </servlet-mapping>
    <session-config>
        <session-timeout>
            30
        </session-timeout>
    </session-config>
</web-app>
